
# client
client/src/images
client/dist

# serverside
serverside/uploads
serverside/.vscode

# testing
/coverage

# node_modules
**/node_modules
client/node_modules
serverside/node_modules

# production
/build

# misc
.DS_Store

#env
**/**/.env

#logs
**/**/*.log
