
# client
client/src/images/*.jpg
client/src/images/*.png
client/dist

# serverside
/.vscode/*
.vscode

# testing
/coverage

# node_modules
**/node_modules
client/node_modules
serverside/node_modules

# production
/build

# misc
.DS_Store

#env
.env

#logs
*.log
